@page "/Files"

@attribute [Authorize(Roles="admin")]

@using DocumentMaster.BlazorServer.Pages
@using DocumentMaster.BlazorServer.Services
@using Models
@using System.Text.Json


@inject IConfiguration Configuration
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<h3>Files</h3>

<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@NavigatetoToAddFile" />
<div class="row">
        <div class="col-md-6">
        <RadzenDataGrid ColumnWidth="200px" AllowFiltering="true" AllowPaging="true" PageSize="15" AllowSorting="true" Data="@files" TItem="FileDTO" @bind-Value="@SelectedFiles">
            <Columns>
                <RadzenDataGridColumn TItem="FileDTO" Property="Id" Title="Id" Width="120px" />
                <RadzenDataGridColumn TItem="FileDTO" Property="Name" Title="Название" Width="120px" />
                <RadzenDataGridColumn TItem="FileDTO" Property="ProjectName" Title="Название" Width="200px">
                    <Template Context="file">
                        @GetProject(file.Id).Name
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="FileDTO" Property="DepartmentName" Title="Required Date" FormatString="{0:d}" Width="140px">
                    <Template Context="file">
                        @GetDepartment(file.Id).Name
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        </div>
        </div>

@code {
    IList<FileDTO> SelectedFiles { get; set; }=new List<FileDTO>
    {
        new FileDTO{ Id=1,Name="план"},
        new FileDTO{ Id=2,Name="фасад"},
        new FileDTO{ Id=3,Name="разрез"}
    };
    //[Parameter] public List<FileDTO>? files{ get; set; }
    public List<FileDTO>? files { get; set; } = new List<FileDTO>
    {
        new FileDTO{ Id=1,Name="план"},
        new FileDTO{ Id=2,Name="фасад"},
        new FileDTO{ Id=3,Name="разрез"}
    };



    private ProjectDTO GetProject(int id)
    {

        return new ProjectDTO { 
            Id=id,
            Client="dogsheet"
        };

    }
    private DepartmentDTO GetDepartment(int id)
    {

        return new DepartmentDTO
        {
            Id=id,
            Name="SO",
            Description="Random"
        };

    }


        private void NavigatetoToAddFile()
    {
        Navigation.NavigateTo("/addFile");
    }
}
