@page "/Projects"




@using DM.BLL.Services
@using DM.DAL.Models
@using Models
@using DocumentMaster.BlazorServer.Pages
@using Microsoft.EntityFrameworkCore


@inject NavigationManager Navigation
@inject PersonService personService
@inject ProjectService projectService

@inject IDbContextFactory<DMContext> contextFactory




<div class="row">
    <div class="col-md-6">

                <AddProjectButton/>

    </div>
    <div class="col-md-6">
        @if (SelectedFiles.Count != 0)
        {
            <DownloadFile SelectedFiles="@SelectedFiles" />
        }
    </div>

</div>

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-md-6">
                <ProjectList ProjectsGetCallBack="@SetSelectedProjects" />
            </div>


            <div class="col-md-6">
                @if (SelectedProjects.Count != 0)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <InfoProject SelectedProjects="@SelectedProjects" />
                                            <RadzenCard>
                    <div class="d-inline-block">
                        <RadzenCheckBox @bind-Value=@CheckBoxOldVersions Name="CheckBox2" TValue="bool" Change=@(args => OnChangeVers(args)) />
                        <RadzenLabel Text="Не показывать старые" Component="CheckBox2" Style="margin-left: 8px; vertical-align: middle;" />
                    </div>
                </RadzenCard>

                        </div>


                        <div class="col-md-6">
                            <InfoFile SelectedFiles="@SelectedFiles" SetOldVersion="@SetVersionProperty" />
                        </div>
                    </div>

                    <FileList FilesGetCallBack="@SetSelectedFiles"
                          files="@_Files"> </FileList>

                }
            </div>
        </div>

    </Authorized>
</AuthorizeView>

@code {

    private IList<ProjectDTO> SelectedProjects { get; set; }

    private IList<FileUnit> SelectedFiles { get; set; }

    private IList<FileUnit> _Files { get; set; }

    private IEnumerable<ProjectDTO> _projects { get; set; }

    private bool CheckBoxOldVersions = false;


    protected override async void OnInitialized()
    {
        SelectedProjects = new List<ProjectDTO>();
        SelectedFiles = new List<FileUnit>();
        _Files = new List<FileUnit>();
    }



    private void SetSelectedProjects(IList<ProjectDTO> projects)
    {
        if (projects != null)
        {
            SelectedProjects = projects;
            _Files = GetFilesInProject(projects.FirstOrDefault().Id).ToList();
            SelectedFiles = new List<FileUnit>();
        }


    }

    private void SetSelectedFiles(IList<FileUnit> fileUnits)
    {
        if (fileUnits != null)
        {
            SelectedFiles = fileUnits;
        }
    }

    private IEnumerable<FileUnit> GetFilesInProject(int id)
    {
        using var context = contextFactory.CreateDbContext();
        return context.FileUnits.Where(f => f.ProjectId == id).Include(p => p.Person).Include(d => d.Department).Include(p => p.Project).Include(s => s.Section).OrderByDescending(f => f.Id).ToArray();
    }

    private void SetVersionProperty(bool val)
    {
        SelectedFiles.FirstOrDefault().IsOldVersion = val;
    }
    private void OnChangeVers(bool value)
    {
        if (_Files is not null)
        {

            if (CheckBoxOldVersions)
            {
                _Files = _Files.Where(t => t.IsOldVersion != true).OrderByDescending(f => f.Id).ToArray();
                SelectedFiles = new List<FileUnit>();
            }
            else
            {
                _Files = GetFilesInProject(SelectedProjects.FirstOrDefault().Id).ToList();
                SelectedFiles = new List<FileUnit>();
            }
        }

    }
}
